.property {
    border: 1px solid #ccc;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
    margin-left: 300px;
  }
  
  .property h2 {
    margin-top: 0;
    color: #55555588;
  }
  
  .property img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 400px;
    width:600px;
    
  }
  
  .property p {
    margin: 0;
    color: black;
  }